<!DOCTYPE html>
<html>
<head>
<meta name="_csrf_parameter" content="_csrf" />
<meta name="_csrf_header" content="X-CSRF-TOKEN" />
<meta name="_csrf" content="e62835df-f1a0-49ea-bce7-bf96f998119c" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="resources/js/angular.js"></script>

<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />

<style>
input.ng-invalid {
	border: 1px solid red;
	/* background: red; */
}

button {
	vertical-align: top;
}

#blank_row {
	height: 2px !important; /* Overwrite any previous rules */
	background-color: #FFFFFF;
}
</style>
</head>
<body ng-app="myApp">




	<div ng-controller="calc">

		Quantity: <input type="number" ng-model="quantity"> Costs: <input
			type="number" ng-model="price">
		<button type="button" ng-click="click()">click</button>

		<h1>Total in dollar: {{Total_in_dollar}}</h1>

		Total in dollar: {{quantity* price }}
	</div>
	------------------------------------------------
	<!--  -->

	<div ng-controller="myCtrl">
		<br> <br> <input type="text" ng-model="color">{{color}}
		<br> <br>

		<form name="formTemp">
			First Name: <input type="text" ng-model="tempTable.tempTableName"
				required /> <br> Last Name: <input name="email" type="email"
				ng-model="tempTable.tempEmail"></input> <span
				ng-show="formTemp.email.$error.email">Not a valid e-mail
				address</span> <span>
				<button class="btn btn-info" type="button" ng-click="submit()">submit</button>
			</span>
		</form>
		<br> <br> Full Name: {{tempTable.tempTableName + " LAZO " +
		tempTable.tempEmail}}

	</div>


	<br />

	<div ng-controller="myCtrl1">
		<br> <br> <input type="text" ng-model="color">{{color}}
		<br> <br> First Name: <input type="text"
			ng-model="firstName"><br> Last Name: <input type="text"
			ng-model="lastName"> <br> Full Name: {{firstName + " " +
		lastName}} <br> <br> <input type="text" ng-model="colo"
			ng-init="colo='red'" style="background: {{colo" />

		<p>
			The name is <span ng-init="person={firstName:'John',lastName:'Doe'}"
				ng-bind="person.firstName"></span>
		</p>


		<div ng-init="quantity=1;price=1">

			Quantity: <input type="number" ng-model="quantity"> Costs: <input
				type="number" ng-model="price"> Total in dollar: {{quantity*
			price }}
		</div>
		<br />
		<div
			ng-init="names=[{name:'Jani',country:'Norway'},{name:'Hege',country:'Sweden'},{name:'Kai',country:'Denmark'}]">

			<ul>
				<li ng-repeat="x	in names">{{ x.name + ', ' + x.country }}</li>
			</ul>

		</div>

		<w3-test-directive></w3-test-directive>

		<div ng-controller="customersCtrl">
		
		<form name="formTemp">
			First Name: <input type="text" ng-model="tempTable.tempTableName"
				required /> <br> Last Name: <input name="email" type="email"
				ng-model="tempTable.tempEmail"></input> <span
				ng-show="formTemp.email.$error.email">Not a valid e-mail
				address</span> <span>
				<button class="btn btn-info" type="button" ng-click="submit()">submit</button>
			</span>
		</form>
		<br> <br> Full Name: {{tempTable.tempTableName + " LAZO " +
		tempTable.tempEmail}}
		
			<center>
				<button type="button" ng-click="click()">click</button>
				<table cellspacing="20" class="table blank_row">
					<tr>
						<th>Temp Name</th>
						<th>Temp Email</th>
						<th>Temp REF</th>
						<th>Person Full Name</th>
					</tr>
					<tr ng-repeat="x in names">
						<td><a href="#" ng-click="deleteItem(x.tempTableName)">{{ x.tempTableName }} </a></td>
						<td>{{ x.tempEmail }}</td>
						<td>{{ x.tempRef.tempTableName }}</td>
						<td>{{ x.person.id.fullName }}</td>
					</tr>
				</table>
			</center>
		</div>

		<form name="myForm">
			Email: <input type="email" name="myAddress" ng-model="error">
			<span ng-show="myForm.myAddress.$error.email">Not a valid
				e-mail address</span>
		</form>

		<form name="myForm1" ng-init="myText = 'post@myweb.com'">
			Email: <input type="email" name="myAddress" ng-model="myText"
				required> <span ng-show="myForm1.myAddress.$error.email">Not
				a valid e-mail address</span>
			<h1>Status</h1>
			{{myForm1.myAddress.$valid}} {{myForm1.myAddress.$dirty}}
			{{myForm1.myAddress.$touched}}
		</form>
</body>
</html>