<!DOCTYPE html>
<html>
<head>
<meta name="_csrf_parameter" content="_csrf" />
<meta name="_csrf_header" content="X-CSRF-TOKEN" />
<meta name="_csrf" content="e62835df-f1a0-49ea-bce7-bf96f998119c" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="resources/js/angular.js"></script>

<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />

<style>
input.ng-invalid {
	border: 1px solid red;
	/* background: red; */
}

button {
	vertical-align: top;
}

#blank_row {
	height: 2px !important; /* Overwrite any previous rules */
	background-color: #FFFFFF;
}
</style>
</head>
<body ng-app="myApp">

	<br />

	
		<w3-test-directive></w3-test-directive>

		<div ng-controller="customersCtrl">

			<form name="formTemp">
				First Name: <input type="text" ng-model="tempTable.tempTableName"
					required /> <br> Last Name: <input name="email" type="email"
					ng-model="tempTable.tempEmail"></input> <span
					ng-show="formTemp.email.$error.email">Not a valid e-mail
					address</span> <span>
					<button class="btn btn-info" type="button" ng-click="submit()">submit</button>
				</span> <br />

				<p>selected item is : {{selectedItem}}</p>
				<select ng-model="selectedItem">
					<option ng-repeat="item in names" value="{{item}}">{{item.tempTableName}}</option>
				</select>
			</form>
			<br> <br> Full Name: {{tempTable.tempTableName + " - " +
			tempTable.tempEmail}}

			<center>
				<button type="button" ng-click="click()">click</button>
				<table cellspacing="20" class="table blank_row">
					<tr>
						<th>Temp Name</th>
						<th>Temp Email</th>
						<th>Temp REF</th>
						<th>Person Full Name</th>
					</tr>
					<tr ng-repeat="x in names">
						<td><a href="#" ng-click="deleteItem(x.tempTableName)">{{
								x.tempTableName }} </a></td>
						<td>{{ x.tempEmail }}</td>
						<td>{{ x.tempRef.tempTableName }}</td>
						<td>{{ x.person.id.fullName }}</td>
					</tr>
				</table>
			</center>
		</div>

		<form name="myForm">
			Email: <input type="email" name="myAddress" ng-model="error">
			<span ng-show="myForm.myAddress.$error.email">Not a valid
				e-mail address</span>
		</form>

		<form name="myForm1" ng-init="myText = 'post@myweb.com'">
			Email: <input type="email" name="myAddress" ng-model="myText"
				required> <span ng-show="myForm1.myAddress.$error.email">Not
				a valid e-mail address</span>
			<h1>Status</h1>
			{{myForm1.myAddress.$valid}} {{myForm1.myAddress.$dirty}}
			{{myForm1.myAddress.$touched}}
		</form>
</body>
</html>