<!DOCTYPE html>
<html ng-app="myApp_service">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="resources/js/person.js"></script>

<ng-include src="'head_tag.html'"></ng-include>
</head>
<body>

	<!-- <div id="includedContent"></div> -->
	<ng-include src="'header.html'"></ng-include>

	<div class="container-fluid">
		<div class="row-fluid" ng-controller="Main_controller">
			<div class="row">
				<div class="col-md-12"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<!-- <w3-test-directive></w3-test-directive>
					<p>--------------------------------------</p>
 -->
					<div class="panel panel-default">
						<div class="panel-body">Maintain Person</div>
						<form name="formPerson" style="padding: 20px;">

							<div class="form-group">
								<label for="person_Name">First Name</label> <input type="text"
									ng-model="person.id.name" required class="form-control"
									id="person_Name" name="person_Name" placeholder="first name">
							</div>

							<div class="form-group">
								<label for="person_fullname">Last Name</label> <input
									type="text" ng-model="person.id.fullName" required
									class="form-control" id="person_fullname"
									placeholder="Last Name" name="person_fullname">
							</div>

							<div class="form-group">
								<label for="age">age</label> <input type="number"
									ng-model="person.age" required class="form-control" id="age"
									placeholder="age">
							</div>

							<div class="form-group">
								<label for="job">job</label> <input type="text"
									ng-model="person.job" required class="form-control" id="job"
									placeholder="Job">
							</div>

							<div class="form-group">
								<label for="datepicker">Create date</label> <input
									class="form-control" ng-model="person.createTime " type="text"
									id="datepicker" />
							</div>


							<button class="btn btn-default" type="button" ng-click="submit()">Save</button>

						</form>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" class="btn btn-info" ng-click="click()">Person List</button>
						</div>


						<table cellspacing="20" class="table">
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Age</th>
								<th>Job</th>

							</tr>
							<tr ng-repeat="person in personList">
								<td>{{ person.id.name}}</td>
								<td>{{ person.id.fullName}}</td>
								<td>{{ person.age }}</td>
								<td>{{person.job}}</td>

							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>

</body>
</html>














