<!DOCTYPE html>
<html ng-app="myApp_service" >
<head >
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script  src="resources/js/person.js"></script>

<ng-include  src="'head_tag.html'"></ng-include>
</head>
<body>

	<!-- <div id="includedContent"></div> -->
	<ng-include src="'header.html'"></ng-include>

	<div class="container-fluid">
		<div class="row-fluid" ng-controller="Main_controller">
			<div class="row">
				<div class="col-md-12"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<!-- <w3-test-directive></w3-test-directive>
					<p>--------------------------------------</p>
 -->
					<div class="panel panel-default">
						<div class="panel-body">Maintain Person</div>
						<form name="formPerson" style="padding: 20px;">

							<div class="form-group">
								<label for="person_Name">First Name</label> <input type="text"
									ng-model="person.id.name" required class="form-control"
									id="person_Name" name="person_Name" placeholder="first name">
							</div>

							<div class="form-group">
								<label for="person_fullname">Last Name</label> <input
									type="text" ng-model="person.id.fullName" required
									class="form-control" id="person_fullname"
									placeholder="Last Name" name="person_fullname">
							</div>

							<div class="form-group">
								<label for="age">age</label> <input type="number"
									ng-model="person.age" required class="form-control" id="age"
									placeholder="age">
							</div>

							<div class="form-group">
								<label for="job">job</label> <input type="text"
									ng-model="person.job" required class="form-control" id="job"
									placeholder="Job">
							</div>

							<div class="form-group">
								<label for="datepicker">Create date</label> <input
									class="form-control" ng-model="person.createTime " type="text"
									id="datepicker" />
							</div>


							<button class="btn btn-default" type="button" ng-click="submit()">Save</button>

						</form>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" class="btn btn-info"
								ng-click="load_all_Persons()">Person List</button>
						</div>


						<table cellspacing="20" class="table">
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Age</th>
								<th>Job</th>

							</tr>
							<tr ng-repeat="person in personList">

								<td><a href="#" ng-click="loadItem(person)"
									data-toggle="modal" data-target="#confirm-delete">{{person.id.name}}</a></td>
								<td><a href="#" ng-click="loadItem(person)">{{person.id.fullName}}</a></td>
								<td>{{ person.age }}</td>
								<td>{{person.job}}</td>

							</tr>
						</table>

					</div>


					<!-- <button class="btn btn-default" data-href="/delete.php?id=54"
						data-toggle="modal" data-target="#confirm-delete">Delete
						record #54</button> -->
					<div class="modal fade" id="confirm-delete" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4>Delete Person</h4>
								</div>
								<div class="modal-body">
									Are you sure want to delete :<span style="color: red;">
										{{person.id.name + person.id.fullName}}</span>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Cancel</button>
									<a class="btn btn-danger btn-ok" data-dismiss="modal"
										ng-click="deleteItem(person)">Delete</a>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>



</body>
</html>














