<!DOCTYPE html>
<html ng-app="myApp">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript" src="resources/js/temp_table.js"></script>
<script type="text/javascript" src="resources/js/mainJS.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>


<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<style>
input.ng-invalid {
	border: 1px solid red;
	/* background: red; */
}

</style>
</head>
<body>


	<div id="includedContent"></div>

	<div class="container-fluid">
		<div class="row-fluid" ng-controller="customersCtrl">
			<div class="row">
				<div class="col-md-12"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<!-- <w3-test-directive></w3-test-directive>
					<p>--------------------------------------</p>
 -->
					<div class="panel panel-default">
						<div class="panel-body">Maintain Temp Table</div>



						<form name="formTemp" style="padding: 20px;">

							<div class="form-group">
								<label for="temp_Name">Temp Name</label> <input type="text"
									ng-model="tempTable.tempTableName" required
									class="form-control" id="temp_Name" name="temp_Name"
									placeholder="Temp Name"> <span
									ng-show="formTemp.temp_Name.$error.temp_Name">Not a
									valid e-mail address</span>
							</div>

							<div class="form-group">
								<label for="Temp_Email">temp Email</label> <input name="email"
									type="email" ng-model="tempTable.tempEmail" required
									class="form-control" id="Temp_Email" placeholder="Email">
								<span ng-show="formTemp.email.$error.email">Not a valid
									e-mail address</span>
							</div>

							<div class="form-group">
								<label for="temp_ref">Temp Ref</label> <select
									class="form-control" id="temp_ref"
									ng-options="item as item.tempTableName for item in names track by item.tempTableName"
									ng-model="tempTable.tempRef"></select>

							</div>

							<div class="form-group">
								<label for="temp_ref_Status">Temp Status</label> <select
									class="form-control" id="temp_ref_Status"
									ng-model="tempTable.status" id="temp_ref_Status">
									<option ng-repeat="item in names" value="{{item.status}}">{{item.status}}</option>
								</select>
							</div>

							<div class="form-group">
								<label for="selectedPerson">Person</label> <select
									class="form-control" id="selectedPerson"
									ng-options="item as (item.id.name+' '+item.id.fullName) for item in person track by item.id.fullName"
									ng-model="tempTable.person"></select>
							</div>

							<div class="form-group">
								<label for="datepicker">Create date</label> <input
									class="form-control" ng-model="tempTable.createTime "
									type="text" id="datepicker" />
							</div>


							<button class="btn btn-default" type="button" ng-click="submit()">submit</button>

						</form>
					</div>


				</div>
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" ng-click="click()">Temp Table List</button>
						</div>


						<table cellspacing="20" class="table">
							<tr>
								<th>Temp Name</th>
								<th>Temp Email</th>
								<th>Temp REF</th>
								<th>Person Full Name</th>
								<th>Temp Staus</th>
								<th>create time</th>

							</tr>
							<tr ng-repeat="x in names">
								<td><a href="#" ng-click="deleteItem(x.tempTableName)">{{x.tempTableName}}
								</a></td>
								<td><a href="#" ng-click="loadItem(x)">{{ x.tempEmail}}
								</a></td>
								<td>{{ x.tempRef.tempTableName }}</td>
								<td>{{ x.person.id.fullName }}</td>
								<td>{{ x.status }}</td>
								<td>{{x.createTime | date:'dd/MM/yyyy'}}</td>

							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>

		<!-- <div class="row">

			<form name="myForm">
				Email: <input type="email" name="myAddress" ng-model="error">
				<span ng-show="myForm.myAddress.$error.email">Not a valid
					e-mail address</span>
			</form>

			<form name="myForm1" ng-init="myText = 'post@myweb.com'">
				Email: <input type="email" name="myAddress" ng-model="myText"
					required> <span ng-show="myForm1.myAddress.$error.email">Not
					a valid e-mail address</span>
				<h1>Status</h1>
				{{myForm1.myAddress.$valid}} {{myForm1.myAddress.$dirty}}
				{{myForm1.myAddress.$touched}}
			</form>
		</div> -->


	</div>
</body>
</html>